.latest-news {
  background-image: url("../img/latest-news-bg.png");
  background-repeat: no-repeat;
  padding: 47px 0 53px 0;
}

.latest-news-wrapper {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.latest-news-opened {
  width: 100%;
}

.latest-news-opened-image {
  position: relative;
  margin-bottom: 70px;
}

.latest-news-opened-image-featured {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  padding: 10px 13px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0 5px 0 5px;
}

.latest-news-opened-image-featured .fa-star {
  color: #D24545;
  margin: 4px;
}

.latest-news-opened-content {
  margin-bottom: 35px;
}

.latest-news-opened-content-headline {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 41px;
  font-size: 34px;
  margin-bottom: 5px;
}

.latest-news-opened-content-description {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  margin: 0;
}

.latest-news-opened-button {
  color: #FFFFFF;
  text-decoration: none;
  background: #000000;
  border-radius: 5px;
  font-family: 'SF Pro Text';
  padding: 13px 16px;
  display: inline-block;
}

.latest-news-list {
  margin-left: 41px;
}

.latest-news-list-navheadline {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  text-transform: uppercase;
  font-size: 16px;
}

.latest-news-list-item {
  padding-top: 25px;
  padding-bottom: 30px;
  border-bottom: 1px solid #DDDDDD;
}

.latest-news-list-item-headline {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 130%;
  color: #000000;
  border-left: 6px solid #D24545;
  padding-left: 15px;
}

.latest-news-list-item-author {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #2F2F2F;
  margin-left: 20px;
  margin-top: 10px;
}

.latest-news-list-item:last-of-type {
  border: 0;
  margin-bottom: 20px;
}

.latest-news-list-see-all {
  font-family: 'SF Pro Text';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  display: block;
  text-align: right;
}

.latest-news-list-see-all .fa-arrow-right {
  margin-left: 8px;
}

@media (max-width: 1200px) {
  .latest-news-list {
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .latest-news {
    padding-left: 10px;
    padding-right: 10px;
  }
  .latest-news-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .latest-news-opened {
    margin-bottom: 20px;
  }
  .latest-news-opened-image {
    margin-bottom: 130px;
  }
  .latest-news-opened-image img {
    max-width: 100%;
  }
  .latest-news-list {
    margin-left: 0px;
  }
}

@media (max-width: 576px) {
  .latest-news {
    background-image: none;
    padding: 0 10px;
  }
  .latest-news-opened-image {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=latest-news.css.map */