@import "./mixins.scss";
@import "./variables.scss";

.sport {
    padding: 80px 0px 100px 0px;
    background-color: $grey;
    &-line {
        height: 4px;
        background-color: $light-red;
        border-radius: 5px;
        margin-bottom: 7px;
    }
    &-wrapper {
        max-width: 1200px;
        margin: auto;
        padding-bottom: 70px;
    }

    &-headline {
        @include headline-nav;
        margin-bottom: 30px;
    }

    &-list {
        display: flex;

        &-item {
            width: 100%;
            padding: 0 20px;

            &-image {
                img {
                    width: 100%;
                }
            }

            &-content {

                &-headline {
                    @include headline-article;
                    margin-bottom: 15px;
                }

                &-author {
                    @include date;
                }
            }
        }

        &-item:last-child {
            padding-right: 0;
        }

        &-item:first-child {
            padding-left: 0;
        }
    }
}

@media(max-width:991px) {
    .sport {
        padding-left: 10px;
        padding-right: 10px;

    }
}

@media(max-width:767px) {
    .sport {
        &-list {
            flex-wrap: wrap;

            &-item {
                padding: 0;

                &-content {
                    margin-bottom: 20px;
                }
            }

            &-item:last-child {
                padding-right: 0;
            }

            &-item:first-child {
                padding-left: 0;
            }
        }
    }
}