$black: #000000;
$dark-grey: #2F2F2F;
$white-text: #FFFFFF;
$white-bg: #E5E5E5;
$red: #B53838;
$light-red: #D24545; 
$dark-red: #6A0B0B;
$grey: #FAFAFA;
$line-grey: #DDDDDD;
$social-color:#EBEBEB;
$cloud-color: #D14343;
$bg-footer: #D24545;
$line-light-grey: #DFDFDF;

//font-family

$font-family-SF: 'SF Pro Text';
$font-family-roboto: Roboto;
